// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$pagination-disabled-color: white;
$pagination-disabled-bg:#343a40;
$pagination-color:white;
$pagination-bg:#343a40;
$pagination-border-color:white;
$pagination-active-bg:white;
$pagination-active-border-color:white;
$pagination-active-color:#343a40;
